.square {
    flex: 1 1;
    border: 1px solid black;
}

.grid {
    display: flex;
    height: 800px;
    width: 800px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
